<div class="darkcard intro">
<h2 class="darktitle">Sign up</h2>
<p>Fields with * are required.</p>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
    <% if resource.errors.any? %>
    <div class="error-messages">
      <h4><%= pluralize(resource.errors.count, "error") %> prohibited this user from being saved:</h4>
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :username,
                hint: "Add a user name",
                required: true,
                input_html: { autocomplete: "user-name" } %>    
    <%= f.input :first_name,
                hint: "optional",
                required: false,
                input_html: { autocomplete: "first-name" } %>            
    <%= f.input :last_name,
                hint: "optional",
                required: false,
                input_html: { autocomplete: "last-name" } %>   
    <%= f.input :social_media,
                hint: "Add a link",
                required: false,
                input_html: { autocomplete: "social-media" } %>   
    <%= f.input :about,
                hint: "Tell the world about you or your business",
                required: false,
                input_html: { autocomplete: "about" } %>
    <%= f.input :private, as: :boolean,
                required: false,
                label: "Make my account private" %>   
    <%= f.input :photo, as: :file,
                hint: "",
                required: false,
                input_html: { autocomplete: "photo", class:"btn" } %>   
  </div>

  <div class="form-actions">
    <%= f.button :submit, "DO MAGIC!", class:"sign_up_btn" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
