
<div class="darkcard">
  <div class="row">
    <div class="col-3 d-flex justify-content-center">
      <p class="px-2">
        <% if @vendor_event.photo.present? %>
          <%= image_tag @vendor_event.photo.url, alt:"event photo", class:"vendor-event-pic" %>
        <% elsif @vendor_event.event.photo.present? %>
          <%= image_tag @vendor_event.event.photo.url, alt:"event photo", class:"vendor-event-pic" %>
        <% end %>
      </p>
    </div>
    <div class="col-3 align-self-center">
      <p>
        <strong>Event:</strong>
        <%= @vendor_event.event.name %>
      </p>
      <p>
        <strong>Location:</strong>
        <%= @vendor_event.event.address %>
      </p>
      <p>
        <strong>Description:</strong>
        <%= @vendor_event.event.information %>
      </p>
      <p>
        <strong>Starts on:</strong>
        <%= @vendor_event.event.started_at.strftime("%B %d, %Y") %>
      </p>
      <% if @vendor_event.event.ends_at.present? %>
      <p>
        <strong>Goes until:</strong>
        <%= @vendor_event.event.ends_at.strftime("%B %d, %Y") %>
      </p>
      <p>
        <strong>Duration:</strong>
        <%= @vendor_event.event.duration %> days
      </p>
      <% end %>
    </div>
    <div class="col-3">
      <strong>Application status:</strong>
      <% if @vendor_event.application_status? %>
        <p><%= @vendor_event.application_status %></p>
      <% else %>
        <p>Not applied</p>
      <% end %>
      <strong>Paid:</strong>
      <% if @vendor_event.paid? %>
        <p>PAID</p>
      <% else %>
        <p>DUE</p>
      <% end %>
    </div>
    <div class="col-3 justify-content-between">
      <p>
        <%= link_to "Return", vendor_events_path, class:"event_btn" %>
      </p>
      <p>
        <%= link_to "Edit Status", edit_vendor_event_path(@vendor_event), class:"btn-pri" %>
      </p>
      <p>
        <%= button_to "Remove", @vendor_event, method: :delete, class: "btn-dang explode",  data: { confirm: "Are you sure you want to delete this event?", 
            data: { turbo: false } } %>
      </p>
  
    </div>
  </div>
</div>

<div class="darkcard" style="color:rgb(255,246,167);">

  <h4>Notes:</h4>

  <div class="funcard2">
    <%= form_with(model: [@vendor_event, Note.new], data: { turbo: false }) do |form| %>
      <p>
        <%= form.label :content, "Add a Note:" %><br>
        <%= form.rich_text_area :content %>
      </p>
      <%= form.submit "Add Note" %>
    <% end %>
  </div>
  <div">
    <div>
      <% @vendor_event.notes.each do |note| %>
        <div style=" margin:20px;">
          <div class="trix-content">
            <%= sanitize(note.content) %>
          </div>
          (<%= link_to "Edit", edit_vendor_event_note_path(@vendor_event, note) %> |
          <%= link_to "Delete", vendor_event_note_path(@vendor_event, note), method: :delete, data: { confirm: "Are you sure?" } %> )
        </div>
      <% end %>
    </div>
  </div>
</div>
