<div>
  <table>
    <thead>
      <tr>
        <th class="follows">Recipient</th>
        <th class="follows">Sender</th>
        <th class="follows">Status</th>
        <th colspan="3" class="follows"></th>
      </tr>
    </thead>

    <tbody>
      <% if @sent_follow_requests.any? %>
      <tr colspan="6"><span class="follows-title">Sent Follow Requests<span></tr>
        <% @sent_follow_requests.each do |follow_request| %>
          <tr>
            <td><%= follow_request.recipient.username %></td>
            <td><%= follow_request.sender.username %></td>
            <td><%= follow_request.status %></td>
            <td><%= link_to 'Show', follow_request %></td>
            <td><%= link_to 'Edit', edit_follow_request_path(follow_request) %></td>
            <td><%= link_to 'Destroy', follow_request, data: { turbo_method: :delete }, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="6">You have not sent a follow request yet.</td>
        </tr>
      <% end %>

      <% if @received_follow_requests.any? %>
      <tr colspan="6"><span class="follows-title">Received Follow Requests</span></tr>
        <% @received_follow_requests.each do |follow_request| %>
          <tr>
            <td><%= follow_request.recipient.username %></td>
            <td><%= follow_request.sender.username %></td>
            <td><%= follow_request.status %></td>
            <td><%= link_to 'Show', follow_request %></td>
            <td><%= link_to 'Edit', edit_follow_request_path(follow_request) %></td>
            <td><%= link_to 'Destroy', follow_request, data: { turbo_method: :delete }, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="6">No follow requests from other users.</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
