<div class="follows-action">
  <h4>Follow Request</h4>
  <div>
    <p>
      <strong>Recipient:</strong>
      <%= @follow_request.recipient.username %>
    </p>

    <p>
      <strong>Sender:</strong>
      <%= @follow_request.sender.username %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @follow_request.status %>
    </p>
    </div>

      <div>
        <%= link_to "Edit this follow request", edit_follow_request_path(@follow_request), class:"btn-in" %> 
        <%= link_to "Back to follow requests", follow_requests_path, class:"btn-pri" %>

        <%= button_to "Delete follow request", @follow_request, method: :delete, class:"btn-dang" %>
      </div>
    </div>
