<div class="darkcard" style="color:rgb(255,246,167);">
<h5>Discovering events from the wild.</h5>
<div class="feed">
<% @user.discovered.each do |newevent| %>
  <div class="feed-box animate__animated animate__flipInX">
    <% if newevent.photo.present? %>
      <%= image_tag newevent.photo.url, class: "card-img" %>
    <% else %>
      <%= image_tag "bulb.png", class: "card-img"%>
    <% end %>
    <div class="card-body">
      <h6 class="pt-4">Event: </h6>
      <h5 class="card-title"> <%= newevent.name %></h5>
      <h5 class="card-title">Shared By: <%= newevent.host.username %></h5>
      <p class="card-text">Begins: <%= newevent.started_at.strftime("%B %d, %y") %></p>
    </div>
    <div class="pt-5">
      <%= link_to "View this event", event_path(newevent), class:"event_btn" %>
      <p class="card-text"><small class="text-muted">Created <%= time_ago_in_words(newevent.created_at) %> ago</small></p>
      </div>
  </div>
<% end %>
</div>
</div>
