<div class="darkcard" style="color:rgb(255,246,167);">
  <h5>Discovering events through people you follow.</h5>
<div class="feed">
  <% @user.feed.each do |event| %>
    <div class="feed-box animate__animated animate__flipInX">
      <% if event.photo.present? %>
        <%= image_tag event.photo, class: "card-img" %>
      <% else %>
        <%= image_tag "bulb.png", class: "card-img" %>
      <% end %>
      <div class="card-body">
        <h6 class="pt-4">Event: </h6>
        <h5 class="card-title"> <%= event.name %></h5>
        <h5 class="card-title">Shared By: <%= event.host.username %></h5>
        <p class="card-text">Starts: <%= event.started_at.strftime("%B %d, %Y") %></p>
      </div>
      <div class="pt-5">
        <%= link_to "View this event", event_path(event), class:"event_btn" %>
        <p class="card-text"><small class="text-muted">Created <%= time_ago_in_words(event.created_at) %> ago</small></p>
      </div>
    </div>
  <% end %>
</div>
</div>
