<div
  data-controller="tabs"
  data-tabs-active-class="bg-gray-900 text-gray-100"
  data-tabs-default-tab-value="tab1"
>
  <!-- buttons to toggle between tabs -->
  <div class="d-flex justify-content-center">
    <button id="tab1" data-tabs-target="btn" data-action="click->tabs#select" class="event_btn">Feed</button>
    <button id="tab2" data-tabs-target="btn" data-action="click->tabs#select" class="event_btn">Discover</button>
  </div>

  <!-- the tabs -->
  <div data-tabs-target="tab" id="tab1" >
    <h2 class="d-flex justify-content-center">Discover events through people you follow!</h2>
    <% current_user.feed.each do |event| %>
      <div class="darkcard discover">
          <% if event.photo.present? %>
            <%= image_tag event.photo, class: "card-img" %>
          <% else %>
            <%= image_tag "bulb.png", class: "card-img" %>
          <% end %>
        <div >
          <h5 class="card-title"><%= event.name %></h5>
          <h5 class="card-title"><%= event.host.username %></h5>
          <p class="card-text"><%= event.information %></p>
          <p class="card-text"><small class="text-muted"><%= event.started_at %></small></p>
          <%= link_to "View", event_path(event), class:"btn-pri" %>
          <p class="card-text"><small class="text-muted"><%= time_ago_in_words(event.created_at) %> ago</small></p>
        </div>
      </div>
    <% end %>
  </div>
  <!-- tab 2 is hidden by default, to prevent 'flashing in' -->
  <div data-tabs-target="tab" id="tab2" class='hidden'>
    <h2 class="d-flex justify-content-center">Discover new events!</h2>
    <% current_user.discovered.each do |newevent| %>
      <div class="darkcard discover">
        <% if newevent.photo.present? %>
          <%= image_tag newevent.photo, class: "card-img",  style: "height:200px width:200px;" %>
        <% else %>
          <%= image_tag "bulb.png", class: "card-img",  style: "height:200px width:200px;" %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= newevent.name %></h5>
          <p class="card-text"><%= newevent.information %></p>
          <p class="card-text"><small class="text-muted"><%= newevent.started_at %></small></p>
          <%= link_to "View", event_path(newevent), class:"btn-pri" %>
          <p class="card-text"><small class="text-muted"><%= time_ago_in_words(newevent.created_at) %> ago</small></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
