<div id="events" class="darkcard">

  <div>
    <div id="map" style='height: 400px;'></div>
  </div>

  <div class="intro">
    <%= search_form_for @q do |f| %>
      <div class="search">
        <br>
        <p>Find events that suite your needs.</p>
        <div>
          <%= f.label :name_cont %>
          <%= f.text_field :name_cont %>
        </div>
        <div>
          <%= f.label :started_at_gteq, "On or after " %>
          <%= f.date_field :started_at_gteq %>
        </div>
        <div>
          <%= f.submit %>
        </div>
        <div>
          <%= link_to "Clear", events_path, class:"btn" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="d-flex flex-wrap justify-content-center">
    <% if @events.present? %>
      <% @events.each do |event| %>
        <div class="funcard">
          <div class="col">
            <div class="d-flex flex-column justify-content-center m-4">
              <p>Event Name:</p>
              <div>
                <h4> <%= event.name %></h4>
              </div>
            </div>
            <div class="col d-flex justify-content-center mt-4">
              <% if event.photo.present?%>
                <%= image_tag event.photo.url, alt:"profile pic", class:"profile-pic" %>
              <% else %>
                <%= image_tag 'favicon.png', alt:"profile pic", class:"profile-pic" %>
              <% end %>
            </div>
            <div class="col">
              <p class="card-text">
                <strong>Where:</strong>
                <%= event.address %></p>
              <p class="card-text"><strong>When:</strong>
                <%= event.started_at.strftime("%B %d, %Y") %></p>
              <%= link_to "Show this event", event, class:"event_btn" %>
            </div>
          </div>
        </div>
      <% end %>
      <% else %>
        <p>No events found.</p>
    <% end %>
  </div>
  <div class="d-flex justify-content-around p-3">
    
<%= pagination_links(@current_page, @total_pages) %>
  </div>
</div>


<script>
  function initMap() {
  const map = new google.maps.Map(document.getElementById("map"), {
    center: { lat: 41.87657590074282, lng: -87.61936464305545 },
    zoom: 5,
  });

  // load preprocessed geocoded data from rails
  const events = <%= raw @events.to_json(only: [:address, :name], methods: [:photo_url]) %>;

  console.log(events); // Debugging: Check the events data

  events.forEach(event => {
    if (event.address) { 
    fetchCoordinates(event.address, (coords) => { 
      console.log(`Adding marker for event: ${event.name}`); // Debugging: Check each event
      new google.maps.Marker({
        position: coords,
        map: map,
        title: event.name,
        icon: {
          url: event.photo_url || '<%= asset_path("bulb.png") %>', // URL to the custom image
          scaledSize: new google.maps.Size(40, 40) // Size of the custom image
          }
        });
      });
    }
  });
}

  function fetchCoordinates(address, callback) {
  fetch(`/geocode_address?address=${encodeURIComponent(address)}`)
  .then(response => response.json())
  .then(data => {
    if (data.latitude && data.longitude) {
      callback({ lat: data.latitude, lng: data.longitude });
    } else {
      console.error('Geocoding failed:', data.error);
    }
  })
  .catch(error => console.error('Error fetching geocoding data:', error));
}

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS'] %>&callback=initMap"
async defer></script>
